
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

/* my styles*/
    
    
    
#nav-toggle-state {
  display: none;
};

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
};


/* main body styles */
.logo{
    width: 150px;
    height: 150px;
};

/* gallery */

.box {
    background-color: #fff; */
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #fefefe;
    display: block;
    padding: 0em;
};

.container .is-ancestor{
     flex-wrap: wrap;   
};

.tiletext {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    text-align: center;
};
.tile image{
    height: 125px;
    width: auto;
};
.navbar-brand, .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    background: beige;
}
img.logo {
    height: 150px;
}
