/* bulma styles */
@import bulma.min


/* my styles*/
    
    
    
#nav-toggle-state {
  display: none;
};

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
};


//gallery
.box {
    background-color: #fff; */
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #fefefe;
    display: block;
    padding: 0em;
}
.tile h1 {
    font-size: 2em;
    text-align: center;
}
.tile.is-ancestor {
    display: flex;
    flex-wrap: wrap;
}