<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>  {{ site.title }} </title>	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
   
    
</head>
<body>
	
	{{ content }}
   
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="scripts/jquery.mixitup.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
