<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>  {{ site.title }} </title>
   
   	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    
    		
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">  
    
</head>
<body>
	
<section class="hero is-medium" id="bg">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <label class="navbar-burger burger nav-toggle"  for="nav-toggle-state" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </label>

        </div>
        
        
        {% for page in site.pages %}
            {% if page.category contains 'myPage' %}
                <a class="button is-black menuItems" href="{{page.url}}">{{page.title}}</a>
            {% endif %}
        {% endfor %}
       
      </div>
    </nav>
  </div>
</section>  

	
   
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="scripts/scripts.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
