<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>  {{ site.title }} </title>	
    <link rel="stylesheet" href="https://github.com/jgthms/bulma/blob/master/css/bulma.css">
    <link rel="stylesheet" href="/css/styles.scss">  
    <link rel="stylesheet" href="/css/mystyles.scss">  
</head>
<body>
	
	{{ content }}
   
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="scripts/scripts.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
