---
layout: default
---

<section class="hero is-medium has-text-grey-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <img class="logo" src="/uploads/NE_logo_final_1.png" alt="">
      <h1 class="title">
        {{ site.data.resume.basics.name }}
      </h1>
      <h2 class="subtitle">
        I am a Ux and Web Designer. 
      </h2>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div  class="tile is-ancestor">

 {% for post in site.posts %}

        <div class="tile is-parent"><a href= "{{ post.url }}"> </a>
            <div class="tile is-child box">
            <img src="{{ post.image}}" alt="post image">
            <h1 class="title is-3">{{ post.title }}</h1>
            </div>
        </div>
      
 {% endfor %}   
    </div> 
  </div>   
   
   
    
    
            
</section>
    
<div class="footer"></div>    