---
layout: default
---

<section class="section">
    <div class="hero-body">
    <div class="container">
      <h1 class="title">Hello my name is Nicholas Evans and i am UX and Web Designer</h1>
      <h2 class="subtitle"></h2>
    </div>
  </div>
    
      
     
    <div class="tile is-ancestor">
        <div class="tile is-4">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile is-4">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile is-4">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile is-3">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile is-3">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile is-3">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile is-3">
            <h1>testing</h1>
            <p>lorem ipsum</p>
        </div>
        <div class="tile"></div>
    </div>
 
    
    
    
    <div class="footer"></div>            
</section>
    
    
    
    