---
layout: default
---

<section class="section">
    <div class="hero-body">
    <div class="container">
      <h1 class="title">Hello my name is Nicholas Evans and i am UX and Web Designer</h1>
      <h2 class="subtitle"></h2>
    </div>
  </div>
    
      
        
    <div class="content">
     
        <button type="button" data-filter="all">All</button>
        <button type="button" data-filter="digital">Digital</button>
        <button type="button" data-filter="print">Print</button>
     
      <div class="container">
        <div class="mix_all projects digital" data-order="1"></div>
        <div class="mix_all projects print" data-order="2"></div>
        <div class="mix_all projects print" data-order="3"></div>
        <div class="mix_all projects digital" data-order="4"></div>
      </div>
    </div>
    
    
    
    
    <div class="footer"></div>            
</section>
    
    
    
    